.container{
    width: 900px;
    height: 500px;
    
    border: 2px solid rgb(6, 25, 6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

#heading-1{
    text-align: center;  
}

span{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 3px solid black;  
    margin: 5px;
         
}

#grey{
    margin-left: 200px;
}

h2{
    text-align: center;
}

h5{
    background-color: rgba(0, 0, 255, 0.557)
}

